{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/compare.css' %}">
{% endblock %}

{% block content %}

    <table>
        <tbody>
        {% with colspan=comparison_list|length %}
            <tr>
                {% for product in comparison_list %}
                    <td>
                        <a href="#">Удалить</a><br>
                        <strong>{{ product }}</strong>
                    </td>
                {% endfor %}


            </tr>
            <tr>
                <td colspan="{{ colspan }}">Семейство процессора</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.family }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ colspan }}">Модель процессора</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.model }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ colspan }}">Количество ядер</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.num_cores }}</td>
                {% endfor %}
            </tr>
        {% endwith %}
        </tbody>
    </table>

{% endblock %}


