{% extends 'comparison/base-comparison.html' %}
{% load static %}



{% block content %}

    <table>
        <tbody>
        {% with colspan=comparison_list|length %}
            <tr>
                {% for product in comparison_list %}
                    <td>
                        {% include 'comparison/includes/remove-from-comparison-button.html' %}
                        <strong>{{ product }}</strong>
                    </td>
                {% endfor %}


            </tr>
            <tr>
                <td colspan="{{ colspan }}">Семейство процессора</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.family }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ colspan }}">Модель процессора</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.model }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ colspan }}">Количество ядер</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.num_cores }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ colspan }}">Частота ядра</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.base_clock }} МГц</td>
                {% endfor %}
            </tr>
        {% endwith %}
        </tbody>
    </table>

{% endblock %}


