{% extends 'comparison/base-comparation.html' %}
{% load static %}



{% block content %}

    <table>
        <tbody>
        {% with colspan=comparison_list|length %}
            <tr>
                {% for product in comparison_list %}
                    <td>
                        {% include 'comparison/includes/remove-from-comparison-button.html' %}
                        <strong>{{ product }}</strong>
                    </td>
                {% endfor %}


            </tr>
            <tr>
                <td colspan="{{ colspan }}">Семейство</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.family }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ colspan }}">Модель</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.model }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ colspan }}">Базовая тактовая</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.base_clock_speed }} МГц</td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="{{ colspan }}">Максимальная тактовая частота</td>
            </tr>
            <tr>
                {% for product in comparison_list %}
                    <td>{{ product.boost_clock_speed }} МГц</td>
                {% endfor %}
            </tr>
        {% endwith %}
        </tbody>
    </table>

{% endblock %}


