{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/compare.css' %}">
{% endblock %}

{% block content %}

    <table>
        <tbody>
        <tr>
            <td>
                НазваниеПроцессора1
            </td>
            <td>
                НазваниеПроцессора2
            </td>
            <td>
                НазваниеПроцессора3
            </td>
            <td>
                НазваниеПроцессора1
            </td>
            <td>
                НазваниеПроцессора2
            </td>
            <td>
                НазваниеПроцессора3
            </td>
        </tr>
        <tr>
            <td colspan="6">Семейство процессора</td>
        </tr>
        <tr>
            <td>Ryzen 9</td>
            <td>Ryzen 9</td>
            <td>Ryzen 9</td>
            <td>Ryzen 7</td>
            <td>Ryzen 7</td>
            <td>Ryzen 7</td>
        </tr>
        <tr>
            <td colspan="6">Модель процессора</td>
        </tr>
        <tr>
            <td>5900x</td>
            <td>5900x</td>
            <td>5900x</td>
            <td>5800x</td>
            <td>5800x</td>
            <td>5800x</td>
        </tr>
        <tr>
            <td colspan="6">Количество ядер</td>
        </tr>
        <tr>
            <td>12</td>
            <td>12</td>
            <td>12</td>
            <td>8</td>
            <td>8</td>
            <td>8</td>
        </tr>
        </tbody>
    </table>

{% endblock %}


