header {
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav li {
    position: relative;
    margin-right: 20px;
}

nav a, .compare-link {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px;
}

nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

nav ul li:hover > ul {
    display: block;
}

.login a {
    margin-left: 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #b0b0b0;
    margin: 0;
    padding: 0;
}

.login-form {
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 30px auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
}

button[type=submit] {
    display: block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px auto 0;
    padding: 10px 20px;
}

.reset {
    background-color: #880021;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 20px auto 0;
    padding: 12px 20px;
}

.reset:hover {
    background-color: #d7002f;
}

.product-list {
    flex: 1;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    padding: 20px;
}

.product-list li {
    align-items: center;
    flex-basis: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.product-list li h3 {
    flex-grow: 1;
    margin: 0;
}

.product-list li .price {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #e67e22;
}

.product-list li .compare-link {
    color: blue;
    text-decoration: none;
}

.product-list li .compare-link:hover {
    text-decoration: underline;
}

#search-container {
    position: relative;
    width: 400px;
    height: 40px;
    margin: auto;
}

#search-input {
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    padding: 10px;
}

#search-button {
    position: relative;
    bottom: 75px;
    left: 180px;
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.container {
    margin-top: 25px;
    display: flex;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
}

.product:hover {
    background-color: #e0e0e0;
}

.product-name {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.product-compare {
    margin-right: 20px;
    font-size: 14px;
    color: #06c;
    cursor: pointer;
}

.filter {
    height: fit-content;
    margin-right: 20px;
    margin-left: 15px;
    flex-basis: 400px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
}

.filter h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.filter form {
    display: flex;
    flex-direction: column;
}

.filter label {
    font-size: 16px;
    margin-bottom: 5px;
}

.filter select {
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

.filter button {
    font-size: 18px;
    background-color: #06c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.filter button:hover {
    background-color: #0059b3;
}

fieldset {
    margin-top: 10px;
}

.search-list {
    height: auto;
    max-height: 250px;
    overflow-y: auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
}

.product-list li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-list li h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.product-list li p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.product-list li .btn {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
    padding: 8px 16px;
}

.product-list li .btn:hover {
    background-color: #2980b9;
}

#searchInput {
    align-self: center;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
}

nav ul, .product-list ul, .product-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button[type=submit]:hover, .login a:hover {
    background-color: #2E8B57;
}


@media only screen and (max-width: 767px) {
    .product-list li {
        flex-basis: calc(50% - 15px);
        margin-right: 15px;
    }
}

@media only screen and (max-width: 480px) {
    .product-list li {
        flex-basis: 100%;
        margin-right: 0;
    }
}

