{% extends 'base.html' %}


{% block content %}
	<div class="product-review">

		{% if user.is_authenticated %}
			<form action="{{ request.path }}" method="post">
				{% csrf_token %}
				{{ form }}
				<button type="submit">Отправить</button>
			</form>
		{% endif %}

		<h2>Другие отзывы:</h2>
		<ul class="ul-review">
			{% for review in reviews %}
				<li class="box">
					<p class="author">{{ review.user }}</p>
					<p class="review">{{ review.content }}</p>
				</li>
			{% endfor %}

		</ul>
	</div>
{% endblock %}