{% extends  'base.html' %}
{% load static %}
{% load product_extras %}

{% block content %}

	<div class="container">
		<div class="product-list" id="product-list">
			{% include 'product/products.html' %}

		</div>

		<div class="filter">
			<form method="get" action="{{ request.path }}">

				{% for field_key, field_name, field_value in list_display_fields %}
					<fieldset>
						<legend>{{ field_name }}</legend>
						{% if field_key in search_filter_fields %}
							{% with names=context|get:field_key %}
								{% if names|length > 15 %}
									<label for="search_{{ field_key }}"></label>
									<input type="text"
										   id="search_{{ field_key }}"
										   placeholder="Поиск...">
								{% endif %}
								<div class="search-list">
								{% for name in names %}
									<div>
										<label>
											<input type="checkbox"
												   class="{{ field_key }}"
												   name="{{ field_key }}"
												   value="{{ name }}"
												   {% if name in request.GET|getlist:field_key %}checked{% endif %}>
											{{ name }} {{ field_value }}
										</label>
									</div>
								{% endfor %}
							{% endwith %}
						</div>

						{% elif field_key in range_filter_fields %}
							<div class="filter-interval">
								{% with min_value=field_key|add_min_max:'min' %}
									<label>От <input type="number"
													 name="{{ min_value }}"
													 placeholder="{{ context|get:min_value }} {{ field_value }}"
													 value="{{ request.GET|get:min_value }}"></label>
								{% endwith %}

								{% with max_value=field_key|add_min_max:'max' %}
									<label>До <input type="number"
													 name="{{ max_value }}"
													 placeholder="{{ context|get:max_value }} {{ field_value }}"
													 value="{{ request.GET|get:max_value }}"></label>
								{% endwith %}
							</div>
						{% endif %}
					</fieldset>
				{% endfor %}


				<button type="submit">Применить</button>
				<a href="{{ request.path }}" class="reset">Сбросить</a>

			</form>
		</div>
	</div>

{% endblock %}


{% block scripts %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{% static 'js/compare-add.js' %}"></script>
	<script>
        {% for field in search_filter_fields %}
            {% with names=context|get:field %}
                {% if names|length > 15 %}
                    const checkboxes{{ field|capfirst }} = document.querySelectorAll('.{{ field }}');
                    const searchInput{{ field|capfirst }} = document.querySelector('#search_{{ field }}');
                    dynamicSearch(checkboxes{{ field|capfirst }}, searchInput{{ field|capfirst }});
                {% endif %}
            {% endwith %}
        {% endfor %}


        function dynamicSearch(checkboxes, searchInput) {
            function filterItems() {
                const query = searchInput.value.toLowerCase();
                checkboxes.forEach((checkbox) => {
                    const label = checkbox.parentElement.textContent.toLowerCase();
                    const match = label.includes(query);
                    checkbox.closest('div').style.display = match ? 'block' : 'none';
                });
            }

            searchInput.addEventListener('input', filterItems);
        }
	</script>
	<script>
        $(document).ready(function () {
            var loading = false;
            var page = 1;
            var requestData = {
                'page': page,
                {% for key, value in request.GET.items %}
                    '{{ key }}': '{{ value }}',
                {% endfor %}
            };

            function loadProducts() {
                if (!loading) {
                    loading = true;
                    page += 1;


                    $.ajax({
                        url: '{{ products.0.get_reverse_url }}',
                        data: requestData,
                        success: function (data) {
                            if (data.trim()) {
                                $('#product-list').append(data);
                                loading = false;
                            }
                        },
                        beforeSend: function () {
                            // Показываем заглушку во время загрузки
                            $('<div>', {'class': 'loading'}).text('Загрузка...').appendTo('.product-list');
                        },
                        complete: function () {
                            // Скрываем заглушку после загрузки
                            $('.loading').remove();
                        }
                    });
                }
            }

            $(window).scroll(function () {
                if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
                    loadProducts();
                }
            });
            // Обработчик изменения параметров фильтрации
            $('.filter-form').on('submit', function (event) {
                event.preventDefault();
                requestData = $(this).serialize();
                $('#product-list').empty(); // Очищаем список товаров
                page = 1; // Сбрасываем страницу на первую
                loadProducts(); // Загружаем первую страницу товаров с учетом новых параметров фильтрации
            });
        });
	</script>

{% endblock %}
