{% load static %}
{% load compare_extras %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заголовок</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    {% block style %}
    {% endblock %}
</head>
<body>

<header>
    <nav>
        <ul>
            <li>
                <a href="#">Категории</a>
                <ul>
                    <li><a href="{% url 'product:cpu' %}">Процессоры</a></li>
                    <li><a href="{% url 'product:gpu' %}">Видеокарты</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Сравнение</a>
                {% if request.user.is_authenticated %}
                    {% with comparison_categories=request.user|get_comparison_categories %}
                        {% if comparison_categories %}
                            <ul>
                                {% for model, product in comparison_categories %}
                                    <li><a href="{{ model.get_absolute_url }}">{{ product.category.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <ul>
                                <li><a>Пусто</a></li>
                            </ul>

                        {% endif %}
                    {% endwith %}
                {% endif %}

            </li>
        </ul>
    </nav>

    <form method="get" action="{% url 'product:find-model' %}">
        <div id="search-container">
            <label for="search-input"></label>
            <input type="text" id="search-input" placeholder="Введите название товара..."
                   name="q" value="{{ request.GET.q }}">
            <button type="submit" id="search-button"></button>
        </div>
    </form>

    <div class="login">
        {% if user.is_authenticated %}
            Привет, {{ user.username }}
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">Админка</a>
            {% endif %}
            <a href="{% url 'logout' %}">Выход</a>

        {% else %}
            <a href="{% url 'login' %}">Вход</a>
            <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}

    </div>

</header>

{% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}

{% block content %}

{% endblock %}


</body>
{% block scripts %}

{% endblock %}
</html>