{% extends  'product/base-product.html' %}
{% load static %}
{% load product_extras %}

{% block content %}

    <div class="container">
        <div class="product-list">
            {% for product in products %}
                <div class="product">
                    <div class="product-name">{{ product }}</div>
                    <div class="product-name">Ядер: {{ product.num_cores }}</div>
                    <div class="product-name">Частота: {{ product.clock_speed }}</div>
                    <div class="product-compare">
                        {% include 'product/includes/add-to-comparison-button.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="filter">
            <form method="get" action="{% url 'product:cpu' %}">
                <fieldset>
                    <legend>Цена</legend>
                    <div class="filter-interval">
                        <label>От <input type="number" name="min_price" disabled
                                         value="{{ request.GET.min_price }}"></label>
                        <label>До <input type="number" name="max_price" disabled
                                         value="{{ request.GET.max_price }}"></label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Производитель</legend>
                    <div>
                        <label>
                            <input type="checkbox" name="brand" value="AMD"
                                   {% if 'AMD' in request.GET|get_list:'brand' %}checked{% endif %}>
                            AMD
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="checkbox" name="brand" value="Intel"
                                   {% if 'Intel' in request.GET|get_list:'brand' %}checked{% endif %}>
                            Intel
                        </label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Количество ядер</legend>
                    <div class="filter-interval">
                        <label>От <input type="number" name="min_num_cores" placeholder="2 ядер"
                                         value="{{ request.GET.min_num_cores }}"></label>
                        <label>До <input type="number" name="max_num_cores" placeholder="16 ядер"
                                         value="{{ request.GET.max_num_cores }}"></label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Частота ядра</legend>
                    <div class="filter-interval">
                        <label>От <input type="number" name="min_clock_speed" placeholder="4100 МГц"
                                         value="{{ request.GET.min_clock_speed }}"></label>
                        <label>До <input type="number" name="max_clock_speed" placeholder="4500 МГц"
                                         value="{{ request.GET.max_clock_speed }}"></label>
                    </div>
                </fieldset>

                <button type="submit">Применить</button>

            </form>

        </div>

    </div>




{% endblock %}

