{% extends  'product/base-product.html' %}
{% load product_extras %}


{% block content %}

    <div class="container">
        <div class="product-list">
            {% for product in products %}
                <div class="product">
                    <div class="product-name">{{ product }}</div>
                    <div class="product-name">Базовая частота: {{ product.base_clock }} МГц</div>
                    <div class="product-name">Частота турбобуста: {{ product.boost_clock }} МГц</div>
                    <div class="product-compare">
                        {% include 'product/includes/add-to-comparison-button.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="filter">
            <form method="get" action="{% url 'product:gpu' %}">
                <fieldset>
                    <legend>Цена</legend>
                    <div class="filter-interval">
                        <label>От <input type="number" name="min_price" disabled
                                         value="{{ request.GET.min_price }}"></label>
                        <label>До <input type="number" name="max_price" disabled
                                         value="{{ request.GET.max_price }}"></label>
                    </div>
                </fieldset>

                <fieldset class="fieldset-filter">
                    <legend>Производитель</legend>
                    {% for brand in brands %}
                        <div>
                            <label class="label-filter">
                                <input type="checkbox" name="brand" value="{{ brand }}"
                                       {% if brand in request|get_list:'brand' %}checked{% endif %}>
                                {{ brand }}
                            </label>
                        </div>
                    {% endfor %}
                    {% for brand in disabled_brands %}
                        <div>
                            <label>
                                <input type="checkbox" name="brand" value="{{ brand }}" disabled>
                                {{ brand }}
                            </label>
                        </div>
                    {% endfor %}
                </fieldset>

                <fieldset>
                    <legend>Базовая частота</legend>
                    <div class="filter-interval">
                        <label>От <input type="number" name="min_base_clock" placeholder="{{ base_clock|min }} МГц"
                                         value="{{ request.GET.min_base_clock }}"></label>
                        <label>До <input type="number" name="max_base_clock" placeholder="{{ base_clock|max }} МГц"
                                         value="{{ request.GET.max_base_clock }}"></label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Частота турбобуста</legend>
                    <div class="filter-interval">
                        <label>От <input type="number" name="min_boost_clock"
                                         placeholder="{{ boost_clock|min }} МГц"
                                         value="{{ request.GET.min_boost_clock }}"></label>
                        <label>До <input type="number" name="max_boost_clock"
                                         placeholder="{{ boost_clock|max }} МГц"
                                         value="{{ request.GET.max_boost_clock }}"></label>
                    </div>
                </fieldset>

                <button type="submit">Применить</button>
                <a href="{{ request.path }}" class="reset">Сбросить</a>

            </form>
        </div>
    </div>

{% endblock %}